* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

h3.first {
  margin: 0;
}

h3 {
  display: flex;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 179%;
  color: navy;
  justify-content: center;
  margin: 1.5vh 10vw;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 113%;
  display: inline-block;
  margin: 0vh 10vw;
}
